@import '../../styles/variables.css';

.popup {
    position: absolute;
    top:50%;
    left: calc(50% - 325px);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    margin-top: 30px;
    padding: 40px;
    max-width: 750px;
    width: 100%;
    background: var(--background-color-item);
    border-radius: 20px;
}

.blur{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.25);
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.close svg{
    transition: 0.6s;
}
.close svg:hover{
    transform: rotate(360deg);
}
.day{

}
