@import '../../styles/variables.css';



.home{
    background-color: var(--background-color);
}

.header{
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    height: 80px;

}

.headerGroup{
    display: flex;
    align-items: center;
}
.dayInfoWrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px){
    .header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .dayInfoWrapper {
        margin: 10% 10% 0 10% ;
        display: flex;
        flex-direction: column;

    }

}



