@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  background-color: var(--background-color);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}



